//RESETS
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	scroll-behavior: smooth;
}

body {
	font-size: var(--font-size-base);
	line-height: 1.2;
	box-sizing: inherit;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
